<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.vishesh.sl"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Shopping List</name>

  <description>
      A concise, minimalist shopping list app.
  </description>

  <author href="http://vishesh.rf.gd" email="visheshvog@gmail.com">
      Vishesh Kumar
  </author>
  
  <icon src="list.png"/>
  
  <preference name="permissions" value="none"/>

</widget>