*{
	box-sizing: border-box;
	outline-style: none;
}

html, body{
	width: 100%;
	height: 100vh;
	background-color:#f2f2f2;
	margin: 0;
}

button{
	cursor: pointer;
}

.off{
	display: none;
}

header{
	color: #404040;
	height: 30px;
	box-shadow: 0 0 3px 0px #bdbdbd;
	background-color:#fffcb5;
	position: relative;
	top: 0;
	z-index: 1;
	display: flex;
}

header div{
	position: relative;
	flex: 1;
}

.th.off{
	display: none;
}

.proh{
	flex: 5;
}

.qtyh{
	width: 64px;
}

.prih{
	flex: 3;
}

header div i{
	letter-spacing: 0.5px;
	font-style: normal;
	font-size: 14px;
	font-family:'Bree Serif', serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

.content, .readmode{
	height: calc(100% - 72px);
	overflow-x: hidden;
	overflow-y: auto;
}

.content.off, .sl.off{
	display: none;
}

.records:last-child{
	margin-bottom: 200px;
}

.records{
	height: 100px;
	border-bottom: 1px solid #ddd;
	display: flex;
	overflow: hidden;
    justify-content: space-between;
	line-height: 23px;
	transition: height 0.1s;
}

.records.off{
	height: 0;
	border: 0;
}

.dataC{
	position: relative;
	flex: 1;
}

.data{
	width: 100%;
	height: 60px;
	padding: 0px 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.qnp{
	display: flex;
	justify-content: space-between;
}

.input{
	height: 25px;
	min-width: 0;
	color: #303030;
	font-family:'Bree Serif', serif;
	font-size: 15px;
	border-style: none;
	border-bottom:1px solid #c0c0c0;
	transition: width 0.3s;
	background-color: inherit;
	resize: none;
	line-height: inherit;
}

.name{
	width: 100%;
	padding: 0 5px;
	margin-bottom: 4px;
}

.edit{
	width: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.del{
	width: 20px;
	height: 20px;
	background-color: inherit;
	padding: 0;
	border: none;
	transition: width 0.2s, margin 0.2s;
	overflow: hidden;
	margin-bottom: 10px;
	background-image: url("svg/cross.svg");
	background-repeat: no-repeat;
	background-position: 50%;
	
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.instant{
	width: 25px;
	height: 25px;
	text-align: center;
	border-radius:4px;
	background-color:#fbfbfb;
	border:1px solid #e1e1e1;
	transition: width 0.2s, border-width 0.2s;
	
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	cursor: grab;
}

.instant:active{
	cursor: grabbing;
}

.instant::after{
	font-family: Helvetica, Arial, sans-serif;
	content: " \2261";
}

.price{
	padding:0 10px;
	flex: 1;
	margin: 0 10px 0 0;
	text-align:right;
}

.price, .qty{
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.qty{
	text-align: center;
	flex: 1;
	margin: 0 0 0 10px;
}

.addb{
	background-image: url("svg/add.svg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	border: none;
	position: absolute;
	right: 20px;
	bottom: 60px;
}

.addb.off{
	display: none;
}

.addb .hbar, .addb .vbar{
	background-color: #e0e0e0
}

.reader, .readmode{
	border-collapse: collapse;
	width: 100%;
	vertical-align: middle;
	color: #303030;
	font-family: 'Bree Serif', serif;
	font-weight: normal;
}

.rrecord{
	display: flex;
	padding: 12px 15px 15px 15px;
	
	border-bottom: 1px solid #ddd;
	
	flex-direction: column;
}

.rrecord:last-child{
	margin-bottom: 200px;
}

.rname, .rqnp, .rtC{
	height: 35px;
	line-height: 35px;
}

.rname{
	padding: 0 5px;
}

.rqnp, .rtC{
	justify-content: space-between;
	padding: 0 5px;
	overflow-x: auto;
	overflow-y: hidden;
}

.rqnp div, .rtC div{
	padding: 0 5px;
	float: right;
}

#foot{
	width:100%;
	height: 42px;
	background-color:#fffcb5;
	padding: 0 7px 0 7px;
	position:fixed;
	bottom:0;
	left:0;
	z-index:1;
}

#foot *{
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

#foot button{
	background-color: inherit;
	float: left;
}

.editb, .readb{
	font-size: 24px;
	color: #484848;
	border-style:none;
	position: relative;
	padding: 0;
}

.editb:hover{
	color: #ffa852;
}

.infoB{
	width:28px;
	height:20px;
	color:#404040;
	border: 2px solid #404040;
	border-radius: 50%;
	margin-right: 10px;
}

.infoB.active{
	color: #23a263;
	border-color: #23a263;
}

#total{
	min-width: 40%;
	max-width: calc(100% - 116px);
	height: 26px;
	text-align:right;
	padding:5px 6px 1px 5px;
	background-color: #fffcb5;
	border: none;
	border-bottom: 1px solid #bbb;
	float:right;
	margin-left: 5px;
	overflow-x: auto;
	overflow-y: hidden;
}

#bg{
	background-color: #b0d7ff;
	opacity: 0.7;
}

.bg{
	width: calc(100% - 6px);
	height: calc(100% - 78px);
	position: fixed;
	top: -100%;
	left: 50%;
	transform: translate(-50%, 0);
	padding:0;
	transition: top 0.3s;
	overflow-x: hidden;
	overflow-y: auto;
	letter-spacing: 0.6px;
	display: block;
}

.bg.on{
	top: 33px;
}

.back{
	font-size: 25px;
	background-color: inherit;
	border-style: none;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.back.off{
	display: none;
}

.opt{
	width: 120px;
	height: 66vw;
	max-height: 100%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: auto;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.opt.off{
	display: none;
}

.set{
	width: 85px;
	font-family:'Bree Serif', serif;
	color: #000;
	background-color: inherit;
	border: 3px solid #484848;
	border-radius: 20%;
	padding: 10px;
	margin: 5px auto;
	display: block;
	letter-spacing: 0.5px;
	user-select: none;
}

.set:active, .set:hover, .set:focus{
	color: #23a263;
	border-color: #23a263;
}

.credit{
	width: 90%;
	position: relative;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.credit.off{
	display: none;
}

.attribute{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	width: 90%;
	min-height: 20px;
	line-height: 30px;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #b0d7ff;
	border-radius: 50%;
	margin-bottom: 20px;
	box-shadow: 0 0 20px 10px #b0d7ff;
}

a{
	color: #006f73;
}

.readb, .clrb, .creditB{
	width: 20px;
	height: 20px;
	border-style: none;
	margin-right: 10px;
	background-repeat: no-repeat;
}

.readb{
	background-image: url("svg/read.svg");
}

.clrb{
	background-image: url("svg/clearAll.svg");
}

.creditB{
	background-image: url("svg/info.svg");
}

@media only screen and (orientation: landscape){
	.opt{
		min-height: 150px;
		height: 80%;
		width: 50%;
		margin: 0;
		top: 50%;
	}
}

@media only screen and (max-width: 360px){
	.price, .qty{
		overflow-x: scroll;
	}
}